<div class="post">
  <mat-card>
    <mat-card-actions>
      <button mat-raised-button routerLink="/" color="warn">На главную</button>
    </mat-card-actions>
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet, consectetur.</mat-card-title>
      <mat-card-subtitle>
        <p><strong>Автор</strong></p>
        <p><small>12.09.2019</small></p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, repellendus.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque aut autem consequuntur cum
        dignissimos distinctio, dolorum explicabo facere fugiat ipsam laudantium magnam maxime natus nemo nobis non
        nulla obcaecati odit optio porro possimus provident quasi quis quo quos rerum saepe sint suscipit temporibus
        tenetur vel vero voluptatum? Inventore, laborum?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci consequatur corporis culpa dicta,
        distinctio dolorem dolorum ea est fugiat illo mollitia nam necessitatibus nemo non obcaecati porro quaerat quam
        quia quod ratione sapiente sit tempora tenetur vel veniam voluptates voluptatibus? A, animi assumenda dicta
        dolore doloremque dolorum, ea eligendi enim esse eum ex explicabo facere illo incidunt ipsam ipsum laboriosam
        magnam nesciunt non numquam pariatur perspiciatis placeat, quasi quibusdam quisquam quod quos ratione reiciendis
        repellat soluta ullam unde ut vero. A adipisci animi delectus, deserunt dolore ducimus ea, enim facilis nostrum
        porro possimus quae quam quidem, reiciendis sint tenetur!</p>
    </mat-card-content>
  </mat-card>
</div>
