<h1>Создание нового поста</h1>
<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
    <mat-error *ngIf="title.hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>
<!--  <mat-form-field>-->
<!--    <p>Контент</p>-->
<!--  </mat-form-field>-->
  <mat-form-field>
    <input matInput placeholder="Author" formControlName="author">
    <mat-error *ngIf="author.hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <div class="form-login-btn">
    <button mat-raised-button color="accent" [disabled]="form.invalid">Создать</button>
  </div>
</form>
