<h1>Панель Администратора</h1>
<div class="form-wrapper">
  <form class="form-login" [formGroup]="loginForm" (submit)="onSubmit($event)">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="email.hasError('required')">
        Поле обязательно для заполнения
      </mat-error>
      <mat-error *ngIf="email.hasError('email')">
        Введен некорректный email
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Пароль" type="password" formControlName="password">
      <mat-error *ngIf="password.hasError('minlength')">
        Минимальное количество символов - {{password.errors.minlength.requiredLength}}
      </mat-error>
      <mat-error *ngIf="password.hasError('required')">
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>
    <div class="form-login-btn">
      <button mat-raised-button color="accent" [disabled]="loginForm.invalid">Войти</button>
    </div>
  </form>

</div>
