/* You can add global styles to this file, and also import other style files */

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  * > {
    width: 100%;
  }
}

.form-login-btn {
  margin-top: 15px;
}
